@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">NAME HERE</h1>
</div>

<a asp-area="Administration" asp-controller="Admin" asp-action="Index">ADMIN</a>

<div style="border-top: 1px solid gainsboro;">
    <div style="margin-top: 5px; margin-bottom:5px">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br />
        Nulla sagittis ut eros vitae iaculis. <br />
        Aliquam sit amet molestie nulla.<br />
        Sed non urna sodales, malesuada ante vitae, lobortis sapien.<br />
        Etiam elementum urna vitae sapien scelerisque commodo.<br />
        Vivamus egestas, ex a dapibus tempor, libero ante porta nisl, id venenatis quam massa ac leo.<br />
        Duis ut sodales nunc. Vivamus in vulputate sapien. Quisque congue est ac dapibus sodales.<br />
        Praesent iaculis tincidunt mauris, a auctor metus efficitur eget.<br />
        Aliquam a aliquet tellus, vitae consequat nulla. Sed eu pretium arcu, vitae consequat sapien.<br />
        Donec sed fringilla orci. Cras efficitur sem et feugiat venenatis.<br />
    </div>
</div>
<div style="border-top: 1px solid gainsboro;">
    <div style="margin-top: 5px; margin-bottom:5px">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br />
        Nulla sagittis ut eros vitae iaculis. <br />
        Aliquam sit amet molestie nulla.<br />
        Sed non urna sodales, malesuada ante vitae, lobortis sapien.<br />
        Etiam elementum urna vitae sapien scelerisque commodo.<br />
        Vivamus egestas, ex a dapibus tempor, libero ante porta nisl, id venenatis quam massa ac leo.<br />
        Duis ut sodales nunc. Vivamus in vulputate sapien. Quisque congue est ac dapibus sodales.<br />
        Praesent iaculis tincidunt mauris, a auctor metus efficitur eget.<br />
        Aliquam a aliquet tellus, vitae consequat nulla. Sed eu pretium arcu, vitae consequat sapien.<br />
        Donec sed fringilla orci. Cras efficitur sem et feugiat venenatis.<br />
    </div>
</div>
<div style="border-top: 1px solid gainsboro;">
    <div style="margin-top: 5px; margin-bottom:5px">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br />
        Nulla sagittis ut eros vitae iaculis. <br />
        Aliquam sit amet molestie nulla.<br />
        Sed non urna sodales, malesuada ante vitae, lobortis sapien.<br />
        Etiam elementum urna vitae sapien scelerisque commodo.<br />
        Vivamus egestas, ex a dapibus tempor, libero ante porta nisl, id venenatis quam massa ac leo.<br />
        Duis ut sodales nunc. Vivamus in vulputate sapien. Quisque congue est ac dapibus sodales.<br />
        Praesent iaculis tincidunt mauris, a auctor metus efficitur eget.<br />
        Aliquam a aliquet tellus, vitae consequat nulla. Sed eu pretium arcu, vitae consequat sapien.<br />
        Donec sed fringilla orci. Cras efficitur sem et feugiat venenatis.<br />
    </div>
</div>