<div class="sidebar">
    <a asp-area="Administration" asp-controller="FoodItem" asp-action="Index">Food Items</a>
    <a asp-area="Administration" asp-controller="FoodItemCategory" asp-action="Index">Food Item Categories</a>
    <a href="">LINK3</a>
    <a href="">LINK4</a>
</div>