<div id="mySidenav" class="side-menu-nav">
    <div class="side-menu-nav-text">
        <label>FOOD1</label>
        <label>FOOD2</label>
        <label>FOOD3</label>
        <label>FOOD4</label>
    </div>
</div>