@{
    ViewData["Title"] = "Menu";
}
@model  IEnumerable<Resty.Model.Common.Models.IFoodItem>

MENU

@foreach (var foodItem in Model)
{
    <div>@foodItem.Name</div>
    <div>@foodItem.Price</div>
    <div>@foodItem.Ingredients</div>
}
