
<header role="banner">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" asp-area="Global" asp-controller="Home" asp-action="Index">Resty</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample05">
                <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
                    <li class="nav-item">
                        <a class="nav-link active" asp-area="Global" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"asp-area="Global" asp-controller="Menu" asp-action="Index">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Global" asp-controller="Gallery" asp-action="Index">Gallery</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item cta-btn">
                        <a class="nav-link" asp-area="Global" asp-controller="Gallery" asp-action="Index">Contact Us</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>