<header>
    <nav>
        <div id="nav" class="">
            <div class="container">
                <div class="navigation_container">
                    <div class="logo">
                        <a asp-area="Global" asp-controller="Home" asp-action="Index">
                            <img class="logo_mobile" src="images/defaultLogo.png" style=" position: relative;
                                      height: 100px;
                                  " alt=""></a>
                        <a asp-area="Global" asp-controller="Home" asp-action="Index">
                            <img class="logo_regular" src="images/defaultLogo.png" style="position: relative; top:-25px" alt="">
                        </a>
                    </div>
                    <ul class="navigation">
                        <li class="first active"><a asp-area="Global" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="second "><a asp-area="Global" asp-controller="Menu" asp-action="Index">Menu</a></li>
                        <li class="third "><a asp-area="Global" asp-controller="Gallery" asp-action="Index">Gallery</a></li>
                        <li class="fourth "><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>